.main-container {
    margin: 0px 20%;
    /* margin: auto;
    width: 70% */
}

.groups-title {
    display: flex;
    align-items: center;
    gap: 1%;
}

.groups-title > h1 {
    font-size: 3.2vw;
    text-decoration: underline;
}

.groups-title > h2 {
    font-size: 3.2vw;
    color: rgba(128, 128, 128, 0.534)
}

.groups-title > h3 {
    font-size: 3.2vw;
}

.groups-title-caption {
    font-size: 2.0vw;
}

.group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.group-card-container {
    background-color: rgb(218, 243, 218);
    margin: 20px 0;
    padding: 5%;
    border-radius: 20px;
    border: 1px ridge grey;
    width: 100%;
    height: 100%;
}

.group-card-container:hover {
    cursor: pointer;
    border: 3px solid grey;
}

.group-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 100%;
}

.group-img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-img-container > img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    border: 1px ridge grey;
    border-radius: 10px;
    object-fit: cover;
}

.details-top-container {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 20px;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 6%;
}

.details-container > h3 {
    font-size: 1.8vw;
    text-decoration: underline;
}

.details-container > h4 {
    font-size: 1.3vw;
}

.all-events-container {
    display: flex;
    flex-direction: column;
    width: 80%
}
