.main-container {
    margin: 0px 25%;
    /* margin: auto;
    width: 70% */
}

.groups-title {
    display: flex;
    align-items: center;
    /* gap: 1%; */
}

.groups-title > h1 {
    font-size: 2.8vw;
    text-decoration: underline;
    margin: 0;

    margin-top: 2%;
}

.groups-title > h2 {
    font-size: 2.8vw;
    color: rgba(128, 128, 128, 0.534);
    margin: 0;
    margin-top: 2%;
    margin-right: 1.5%;
}

.groups-title > h3 {
    font-size: 2.8vw;
    margin: 0;
    margin-right: 1.5%;
    margin-top: 2%;
}

.groups-title-caption {
    font-size: 1.7vw;
}

.group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.group-card-container {
    background-color: rgb(218, 243, 218);
    margin: 2% 0;
    padding: 5%;
    border-radius: 20px;
    border: 1px ridge grey;
    width: 100%;
    height: 100%;
}

.group-card-container:hover {
    cursor: pointer;
    border: 3px solid grey;
}

.group-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 100%;
}

.group-img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-img-container > img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 400px;
    border: 1px ridge grey;
    border-radius: 10px;
    object-fit: cover;
}

.details-top-container {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 20px;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6%;
    /* line-height: 2; */
}

.details-container > h3 {
    font-size: 1.5vw;
    text-decoration: underline;
    /* margin: 0; */
}

.details-container > h4 {
    font-size: 1.1vw;
    /* margin: 0; */
}

.group-description {
    font-size: 1.2vw;
}


/* .all-events-container {
    display: flex;
    flex-direction: column;
    width: 80%
} */
