.delete {
    color: white;
    background-color: rgb(110, 15, 15);
    border-color: rgba(219, 152, 152, 0.541);
}

.delete:hover {
    background-color: rgb(173, 15, 15);
}

.keep {
    border-color: rgba(128, 128, 128, 0.541);
    background-color: grey;
    color: rgb(239, 240, 248);
}
.keep:hover {
    border-color: rgba(128, 128, 128, 0.541);
    background-color: rgb(153, 151, 151);
}

.btn-container > div > button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin: 8px;
}

.destroy-event {
    color: black;
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
