.modal {
    background-color: rgb(49, 49, 49);
    border: 4px double rgb(43, 121, 43);
    padding: 30px 40px 40px;
}

.delete {
    color: white;
    background-color: rgb(110, 15, 15);
    border-color: rgba(219, 152, 152, 0.541);
}

.delete:hover {
    background-color: rgb(173, 15, 15);
}

.keep {
    border-color: rgba(128, 128, 128, 0.541);
    background-color: grey;
    color: rgb(239, 240, 248);
}
.keep:hover {
    border-color: rgba(128, 128, 128, 0.541);
    background-color: rgb(153, 151, 151);
}

.btn-container > div > button {
    border-radius: 5px;
    margin: 8px;
}

.destroy-event > li {
    color: black;
    width: 9vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
