
/* Updated styling for the Groups component */
.main-container {
    margin: 0 auto;
    max-width: 1200px; /* Adjust as needed */
    padding: 0 20px;
}

.events-title {
    display: flex;
    align-items: center;
}

.events-title h1, .events-title h2, .events-title h3 {
    font-size: 40px;
    margin: 10px;
}

.events-title h2 {
    color: rgba(128, 128, 128, 0.534);
    margin-right: 10px;
    cursor: pointer;
}

.events-title h2:hover {
    text-decoration: underline;
}

.events-title-caption {
    font-size: 24px;
    margin: 12px;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.event-card-container {
    background-color: rgb(235, 247, 235);
    border-radius: 20px;
    border: 1px solid #999;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.event-card-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.521); /* Add shadow on hover */
}

.event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.event-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.event-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.details-container {
    text-align: center;
    margin-top: 20px;
}

.details-container h3 {
    font-size: 20px;
    margin: 0;
    text-decoration: underline;
}

.details-container h4 {
    font-size: 16px;
    margin: 5px 0;
}

.event-description {
    font-size: 16px;
    margin: 0px 20px 30px;

}
