.all-events {
    margin: 0px 20%;
}

.events-title {
    display: flex;
    align-items: center;
    gap: 1%;
}

.events-title > h1 {
    font-size: 3.2vw;
    text-decoration: underline;
}

.events-title > h2 {
    font-size: 3.2vw;
    color: rgba(128, 128, 128, 0.534)
}

.events-title > h3 {
    font-size: 3.2vw;
}

.events-title-caption {
    font-size: 2.0vw;
}

.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.event-card-container {
    background-color: rgb(218, 243, 218);
    margin: 20px 0;
    padding: 5%;
    border-radius: 20px;
    border: 1px ridge grey;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-card-container:hover {
    cursor: pointer;
    border: 3px solid grey;
}

.event-details-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 100%
}

.event-img-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.event-img-container > img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    border: 1px ridge grey;
    border-radius: 10px;
}

.top-event-details-container {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 20px;
}

.event-details-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-details-container > h3 {
    font-size: 1.8vw;
    text-decoration: underline;
}

.event-details-container > h4 {
    font-size: 1.3vw;
}

.description {
    font-size: 1.4vw;
}

