

.create-event {
    display: flex;
    justify-content: center;
    background-color: rgba(230, 245, 237, 0.662);
    padding: 40px 0;
}

.create-event-inner {
    width: 30%;
}

 label {
    font-size: 18px;
    line-height: 2;
}

.combo {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.create-btn {
    display: flex;
    margin: 15px;
}

.create-btn > button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.541);
}

input {
    height: 25px
}
