.container {
    width: auto;
    margin: 2%;
}

.group-container {
    margin-top: 60px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    overflow-x: auto;
}

.group-card {
    color: rgb(133, 16, 133);
    background-color: rgb(218, 243, 218);
    width: 200px;
    height: 220px;
    padding: 10px;
    margin: 20px 20px;
    border-radius: 10px;
    border: 1px solid rgb(206, 160, 168);

}

h1.main-page {
    margin-left: 35%;
    color: rgb(55, 4, 59);
    margin-top: 100px;
}
