.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-header {
  border-bottom: 1px solid grey;
  height: 80px;
  position: sticky;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 400px; */
  margin: 0 90px;
  margin-top: 30px;
  height: 50px;
  position: sticky;
}

nav a,
.favs {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(51, 51, 51);
  background: white;
  height: 80px;
  width: 180px;
  border: solid 1px rgba(128, 128, 128, 0.285);
  border-radius: 30px;
  position: sticky;
  font-size: 1.5em;
  margin: 10px;
  text-decoration: none;

}

.nav-btn {
  color: rgb(51, 51, 51);
  background: white;
  height: 80px;
  width: 180px;
  border: solid 1px rgba(128, 128, 128, 0.285);
  border-radius: 30px;
  font-size: 1.5em;
  margin: 10px;
  text-decoration: none;
  position: sticky;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: rgba(237, 244, 247, 0.416);
  border: solid 2px rgba(128, 128, 128, 0.285);
}

nav a:hover,
.favs:hover {
  cursor: pointer;
  background-color: rgba(237, 244, 247, 0.416);
  border: solid 2px rgba(128, 128, 128, 0.285);
}

.active,
.nav-btn:active,
.nav-btn:focus {
  font-weight: bold;
  font-size: 1.7em;
  background-color: rgba(214, 219, 246, 0.393);
  padding: 1px;
}

li {
  color: rgb(77, 74, 74);
  position: sticky;
}

/* .favs {
  width: 150px;
  height: 68px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  /* border: 5px solid green; */



/* affects the login and signup clicks add a demo user to this list?
.login {
  font-size: 20px;
  line-height: 1.5;
  width: 100px;
  position: relative;
  right: 50px;
  color: black;
  /* background-color: rgb(233, 198, 198); */


.login:hover {
  cursor: pointer;
}


.drop-down {
  color: white;
  position: relative;
  right: 18%;
  line-height: 1.8;
  background-color: rgba(10, 20, 75, 0.363);
  border: 2px solid rgb(52, 114, 194);
  padding: 15px;
  width: 180px;
}

.drop-down > li {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
}

.drop-down > li > button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 16px;
}

.all-groups {
  display: flex;
  align-items: center;
  gap: 60px;
}
