nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  background-color: rgb(96, 173, 96);
  border-bottom: 1px solid grey;
  position: sticky;

}

.nav-home-a {
  height: 100%;
}

.nav-other-a {
  height: 100%;
}

.all-groups {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  max-width: 100%;
}

nav a,
.favs,
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(237, 244, 247, 0.416);
  height: 100%;
  width: 100%;
  font-size: 1.6vw;
  margin: 10px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.favs {
  font-size: 4.0vw;
  border-radius: 50%;
  background-color: rgb(96, 173, 96);
  border: 2px solid rgba(128, 128, 128, 0.484);
  color: rgba(255, 255, 255, 0.724)
}

nav a:hover,
.nav-btn:hover {
  cursor: pointer;
  color: rgb(149, 247, 190)
}

.favs:hover {
  cursor: pointer;
  background-color: rgba(237, 244, 247, 0.416);
  border: solid 2px rgba(128, 128, 128, 0.285);
}

.active,
.nav-btn:active,
.nav-btn:focus {
  font-weight: bold;
  font-size: 2.1vw;
  color: white;
  padding: 1px;
}

.login:hover {
  cursor: pointer;
}

.drop-down {
  color: white;
  line-height: 2.5;
}

.drop-down > li {
  color: white;
  font-size: 1.7vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.drop-down > li > button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.7vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hidden {
  display: none;
}
