.individual {
    background-color: rgba(158, 158, 201, 0.596);;
}

img {
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.org-btn {
    background-color: darkgray;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%
}

.img-groups {
    display: flex;
    flex-direction: column;
}

.groups-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 8px;
}

.groups-link:hover {
    color: rgb(73, 73, 223)
}
/* set the buttons on the group page to work*/



.join-btn {
    margin-top: 100px;
    background-color: rgba(255, 0, 0, 0.514);
    width: 180px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
}

.join-btn:hover {
    background-color: red;
}

.about-section {
    margin: 80px 300px;

}

.event-top-sec {
    display: flex;
    align-items: center;
    gap: 12%
}

.event-top-sec:hover {
    cursor: pointer;
}

.event-details {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.btn-container {
    display: flex;
}

.org-btn {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.541);
    margin: 8px;
}

.org-btn:hover,
.delete-group:hover {
    background-color: rgba(150, 152, 177, 0.753);
}

.delete-group {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 5px;
    border: 2px outset grey;
    border-color: rgba(128, 128, 128, 0.637);
    background-color: rgb(168, 168, 168);
    margin: 8px;
}

.delete-group:hover {
    cursor: pointer;
}
